/*!
Theme Name: Foundation Base for Thematic
Theme URI: https://github.com/petskratt/foundation-base/
Description: A child theme for Thematic based on Foundation 3.2.2 framework by ZURB and Responsive Base by Scott Nix. Works rather nicely with Theme Unit Test but needs some tuning + support for Orbit and Reveal modules. Main menu is supported with 1 sub-level (Foundation limit).
Author: Peeter Marvet
Author URI: http://tehnokratt.net/
Template: thematic
Version: 0.3.2.2.3
Tags: flexible-width, two-columns, left-sidebar, translation-ready
*/

// You custom settings file to override Foundation defaults
@import "settings";

// Comment out this import if you are customizing you imports below
@import "foundation";

// ----------------------------------------
// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "compass/css3";
// @import "foundation/settings";
// @import "foundation/functions/all";

// Control which mixins you have access too

// @import "foundation/mixins/clearfix";
// @import "foundation/mixins/css-triangle";
// @import "foundation/mixins/font-size";

// Must include next two for semantic grid to work

// @import "foundation/mixins/respond-to";
// @import "foundation/mixins/semantic-grid";

// @import "modular-scale";
// @import "foundation/common/globals";

// Must include the grid for any responsiveness

// @import "foundation/components/grid";

// Control which common styles get compiled

// @import "foundation/common/typography";
// @import "foundation/common/forms";

// Control which components you get if customizing

// @import "foundation/components/modules/buttons";
// @import "foundation/components/modules/tabs";
// @import "foundation/components/modules/ui";
// @import "foundation/components/modules/topbar";
// @import "foundation/components/modules/navbar";
// @import "foundation/components/modules/orbit";
// @import "foundation/components/modules/reveal";
// @import "foundation/components/modules/offcanvas";

// Media Queries Overrides
// @import "foundation/components/modules/mqueries";


/* import Thematic-specific SCSS (from Responsive Base) */

@import "_thematic";

/* use Foundation mixins on Thematic IDs/classes to produce desired layout */

// myOuterRow() works with nested .row-s

@mixin myOuterRow() { width: $rowWidth; max-width: 100%; min-width: $screenSmall; margin: 0 auto; @extend %clearfix; 
    .row { width: auto; max-width: none; min-width: 0; margin: 0 (-($columnGutter/2)); }
}

#header, #main, #footer { @include outerRow(); @include mobileRow(); }

#branding, #access {  @include column($totalColumns); }

#container { @include column(8); @include push(4); @include mobilePush(0); }

#primary, #secondary { @include column(4); @include pull(8); @include mobilePull(0); }

#footer {
	#first, #second, #third { @include column(4); }
	#siteinfo { @include column($totalColumns, center); }
}

/* mobile column overrides */

#container, #primary, #secondary, #footer #first, #footer #second, #footer #third { @include mobileColumn($mobileTotalColumns); }

/* page templates */

.page-template-template-page-fullwidth-php {
	#container { @include column($totalColumns); @include push(0); @include mobilePush(0); }	
}